:root{
    --main-bg-color: rgba(39, 39, 255, 0.939);
}
*{
    padding: 0;
    margin: 0;
}
    body{
        background-color: rgb(171, 252, 252);
    }
.flex{
    display: flex;
}


/* header styling */


header{
    background-color: var(--main-bg-color);
}

nav ul li{
    list-style: none;
    padding: 0 20px;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
nav ul li:hover{
    cursor: pointer;
    color: black;
}


nav{
    height: 60px;
    align-items: center;
    justify-content: space-around;
}   
nav img{
    width: 81px;
    border-radius: 13px;
}
.btn1{
    height: 41px;
    width: 118px;
    border-radius: 10px;
    background-color:white;
    border: none;
    font-weight: bold;
}
.btn1:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

/* main styling starts from here */

.section1{
    background-image: url(https://img.freepik.com/free-vector/medical-healthcare-blue-color_1017-26807.jpg);
    background-size:contain;
}
.heading{
    padding: 90px 120px 20px 120px;   
}
.line1{
    color: var(--main-bg-color);
    font-weight: bold;
    font-size: 70px;
}
.line2{
    color: var(--main-bg-color);
    font-weight: bold;
    font-size: 25px;
}
.line3{
    margin-top: 30px;
}
.btn2{
    height: 41px;
    width: 118px;
    border-radius: 10px;
    background-color:var(--main-bg-color);
    border: none;
    font-weight: bold;
}
.btn2:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.cards1{
    display: flex;
    justify-content: center;
}
.item{
    height: 32vh;
    width: 21vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    color: white;
    margin: 10px 5px;
}
.big{
    font-size: 50px;
    color: white;
}


.section2{  
    display: flex ;
    justify-content: space-between;
    padding: 50px 50px;
}
.right{
    max-width: 50vw;
    padding: 40px 90px;
}
.sec2-line1{
    font-size: 40px;
    font-weight: bold;
    color: var(--main-bg-color);
    padding: 20px 0px 0px 0px;
}
.list{
    padding-top: 10px;
    display: flex;
}
.li-right{
    padding: 0px 0px 20px 20px;
}
.li-left{
    padding: 0px 0px 20px 50px;
}
.list ul{
    list-style-type: none;
}
.list ul li{
    font-weight: bold;
    color: var(--main-bg-color);
}
.list ul li::marker {
    content: "\2713";
    color: green; 
    font-size: 20px;
    margin-right: 5px; 
}
.left{
    max-width: 50vw;
}
.doctor{
    padding: 0px 150px 0px 0px;
}
.section3{
    padding-top: 40px;
}
.sec3-line1{
    font-size: 40px;
    font-weight: bold;
    color: var(--main-bg-color);
    text-align: center;
}
.sec3-line2{
    font-weight: bold;
    color: var(--main-bg-color);
    text-align: center;
    padding-top: 10px;
}
.sec3-cards{
    margin: 10px 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec3-card{
    width: 260px;
    height: 254px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 30px;
    background-color: white;
    border-radius: 10px;
    margin: 0px 10px;
    border: 2px solid var(--main-bg-color);

}
.sec3-card img{
    width: 70px;
    height: 70px;
}
.card-line1{
    font-weight: bold;
    color: var(--main-bg-color);
    font-size: 20px;
    padding-top: 5px;
}
.card-line2{
    padding-top: 5px;
}
.sec3-card button{
   margin-top: 10px;
}

.card-row1{
    display: flex;
    padding-top: 45px;
}
.card-row2{
    display: flex;
    padding-top: 10px;
}

.section4{
    display: flex;
    padding-top: 50px;
}
.sec4-right{
    float: right;
    width: 50vw;
    padding: 50px 90px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.sec4-right-line1{
    font-size: 59px;
    color: var(--main-bg-color);
    font-weight: bold;
}
.sec4-right-line2{
    font-weight: bold;
}
.buttons{
    margin-top: 20px;
}
.sec4-left{
    float: left;
    width: 50vw;
    padding: 50px;
}
.sec4-left img{
    width: 600px;
    height: 500px;
}
.section5{
    padding-top: 50px;
}
.testominals{
    font-size: 60px;
    text-align: center;
    color: var(--main-bg-color);
    font-weight: bold;
}
